body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    color:#ffffff;
background-color:#3056A0;
     line-height: 70px;
    font-size: 3em;
    text-align: center;
}
#contactDetails{
    border: 1px solid #999999;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
}
#contactList{
    border: 1px solid #999999;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
}
#footer{
    color:#ffffff;
background-color:#3056A0;
     line-height: 40px;
    font-size: 0.8em;
            text-align: center;
}
.form{
    margin-bottom: 10px;
   
}
label{
    padding-right: 20px;
    display: inline-block;
    width: 120px;
     vertical-align: top;
}
th,td{
border: 1px solid black;
padding: 5px;
}
table{
border-collapse: collapse;
    
}
thead{
color:#ffffff;
background-color:#3056A0;
}
table > caption{
font-weight: bold;
}
tfoot{
  text-align: right;
font-size: 0.75em;

}

tbody > tr:nth-child(even) {
  background-color: #E6E6F5;
}





